html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
 h2 {
   font-size: 1.125rem;
   display: block;
   text-align: center;
 }

.nav {
  text-align: center;
}
